html {
    scroll-behavior: smooth;
}

body {
    background-image: url(./images/pexels-photo-3255761.webp);
    background-attachment: fixed;
    background-size: cover;
}

header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 700;
    color: blue;
    text-shadow: 1px 1px 3px black;
}

header a {
    height: fit-content;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
    color: mediumblue;
    margin: 5px;
}

header a:hover {
    color:blueviolet;
    text-shadow: 1px 1px 10px yellow;
}


#paintingContainer {
    display: flex;
    flex-wrap: wrap;
}

.paintingBox {
    width: 20%;
    margin: 2.5%;
    text-align: center;
}

.paintingBox img {
    width: 100%;
    height: auto;
}

#aboutMe {
    height: 100vh;
}

#aboutMe h2 {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 10px;
    color: mediumblue;
}

#contact {
    height: 100vh;
}

#contact h2 {
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    padding-top: 10px;
    color: mediumblue;
}

#contact p {
    text-align: center;
    font-size: 18px;
}